<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>course</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>CourseListAction</servlet-name>
    <servlet-class>course.CourseListAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseListAction</servlet-name>
    <url-pattern>/servlet/CourseListAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CourseInsertAction</servlet-name>
    <servlet-class>course.CourseInsertAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseInsertAction</servlet-name>
    <url-pattern>/servlet/CourseInsertAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CourseDelAction</servlet-name>
    <servlet-class>course.CourseDelAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseDelAction</servlet-name>
    <url-pattern>/servlet/CourseDelAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CourseGetAction</servlet-name>
    <servlet-class>course.CourseGetAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseGetAction</servlet-name>
    <url-pattern>/servlet/CourseGetAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CourseUpdateAction</servlet-name>
    <servlet-class>course.CourseUpdateAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseUpdateAction</servlet-name>
    <url-pattern>/servlet/CourseUpdateAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CourseSearchAction</servlet-name>
    <servlet-class>course.CourseSearchAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseSearchAction</servlet-name>
    <url-pattern>/servlet/CourseSearchAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StuInfoListAction</servlet-name>
    <servlet-class>stuinfo.StuInfoListAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StuInfoListAction</servlet-name>
    <url-pattern>/servlet/StuInfoListAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StuInfoInsertAction</servlet-name>
    <servlet-class>stuinfo.StuInfoInsertAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StuInfoInsertAction</servlet-name>
    <url-pattern>/servlet/StuInfoInsertAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StuInfoDelAction</servlet-name>
    <servlet-class>stuinfo.StuInfoDelAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StuInfoDelAction</servlet-name>
    <url-pattern>/servlet/StuInfoDelAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StuInfoGetAction</servlet-name>
    <servlet-class>stuinfo.StuInfoGetAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StuInfoGetAction</servlet-name>
    <url-pattern>/servlet/StuInfoGetAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StuInfoUpdateAction</servlet-name>
    <servlet-class>stuinfo.StuInfoUpdateAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StuInfoUpdateAction</servlet-name>
    <url-pattern>/servlet/StuInfoUpdateAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StuInfoSearchAction</servlet-name>
    <servlet-class>stuinfo.StuInfoSearchAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StuInfoSearchAction</servlet-name>
    <url-pattern>/servlet/StuInfoSearchAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StuInfoGetMainAction</servlet-name>
    <servlet-class>stuinfo.StuInfoGetMainAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StuInfoGetMainAction</servlet-name>
    <url-pattern>/servlet/StuInfoGetMainAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeaInfoListAction</servlet-name>
    <servlet-class>teainfo.TeaInfoListAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeaInfoListAction</servlet-name>
    <url-pattern>/servlet/TeaInfoListAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeaInfoInsertAction</servlet-name>
    <servlet-class>teainfo.TeaInfoInsertAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeaInfoInsertAction</servlet-name>
    <url-pattern>/servlet/TeaInfoInsertAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeaInfoDelAction</servlet-name>
    <servlet-class>teainfo.TeaInfoDelAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeaInfoDelAction</servlet-name>
    <url-pattern>/servlet/TeaInfoDelAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeaInfoGetAction</servlet-name>
    <servlet-class>teainfo.TeaInfoGetAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeaInfoGetAction</servlet-name>
    <url-pattern>/servlet/TeaInfoGetAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeaInfoUpdateAction</servlet-name>
    <servlet-class>teainfo.TeaInfoUpdateAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeaInfoUpdateAction</servlet-name>
    <url-pattern>/servlet/TeaInfoUpdateAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeaInfoSearchAction</servlet-name>
    <servlet-class>teainfo.TeaInfoSearchAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeaInfoSearchAction</servlet-name>
    <url-pattern>/servlet/TeaInfoSearchAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginAction</servlet-name>
    <servlet-class>login.LoginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAction</servlet-name>
    <url-pattern>/servlet/LoginActionAction</url-pattern>
  </servlet-mapping>
</web-app>